.iul_contacts.yml
.iul_service.yml

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
db/*.sqlite3
db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
log/*
!/log/.keep

tmp/*

config/database.yml
config/pod_db.yml
config/secrets.yml
config/settings/development.yml
config/settings/test.yml
config/settings/production.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/sunspot.yml
config/*.pem

# local solr files
solr/data
solr/test/data
solr/development/data
solr/default/data
solr/pids

db/schema.rb

# files for rubymine
.idea/*
# files from Passenger
passenger.*
public/
.byebug_history

.ruby-version