<div id="autocomplete_work_person_summary" class="rvt-grid work_person_ac_tooltip">
  <h4 class="red_700" id="ac_full_name"></h4>
  <div>
    <label for="alternative_titles">Date of Birth</label>
    <span id="ac_dob"></span>
  </div>
  <div>
    <label for="publication_year">Date of Death</label>
    <span id="ac_dod"></span>
  </div>
  <div>
    <label for="authority_source">Place of Birth</label>
    <span id="ac_pob"></span>
  </div>
  <div>
    <label for="authority_source">AKA</label>
    <span id="ac_aka"></span>
  </div>
  <div>
    <label for="authority_source_url">Authority Source</label>
    <span id="ac_auth"></span>
  </div>
  <div>
    <label for="authority_source_url">Authority Source URL</label>
    <span id="ac_auth_url"></span>
  </div>
  <div>
    <label for="notes">Notes</label>
    <span id="ac_notes"></span>
  </div>
</div>