<p id="notice"><%= notice %></p>

<h1>Listing Recordings</h1>
<div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>MDPI Barcode</th>
        <th>Format</th>
      </tr>
    </thead>

    <tbody>
      <% @recordings.each do |recording| %>
        <tr>
          <th><%= recording.title %></th>
          <th><%= recording.mdpi_barcode %></th>
          <th><%= recording.format %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>