<div>
  <p class="warning">The record you are trying to access belongs to a Unit that you are not a member of.</p>
  <p>Trying to access: <%= @recording.unit %></p>
  <p>You belong to: <%= UnitsHelper.human_readable_units %></p>
</div>