<div id="work_autocomplete_summary" class="rvt-grid work_ac_tooltip">
  <h4 class="red_700" id="ac_title"></h4>
  <div>
    <label for="publication_year">Alternative Titles</label>
    <span id="ac_alt_title"></span>
  </div>
  <div>
    <label for="authority_source">Publication Date</label>
    <span id="ac_pub_year"></span>
  </div>
  <div>
    <label for="authority_source">Authority Source</label>
    <span id="ac_auth"></span>
  </div>
  <div>
    <label for="authority_source_url">Authority Source URL</label>
    <span id="ac_auth_url"></span>
  </div>
  <div>
    <label for="authority_source_url">Traditional</label>
    <span id="ac_traditional"></span>
  </div>
  <div>
    <label for="authority_source_url">Work In Copyright</label>
    <span id="ac_work_in_copyright"></span>
  </div>
  <div>
    <label for="authority_source_url">Restored Copyright</label>
    <span id="ac_restored_copyright"></span>
  </div>
  <div>
    <label for="authority_source_url">Copyright Renewed</label>
    <span id="ac_copyright_renewed"></span>
  </div>
  <div>
    <label for="authority_source_url">Enters Public Domain</label>
    <span id="ac_enters_public_domain"></span>
  </div>
  <div>
    <label for="authority_source_url">Access Determination</label>
    <span id="ac_access_determination"></span>
  </div>
  <div>
    <label for="notes">Notes</label>
    <span id="ac_notes"></span>
  </div>
</div>