<h1>Editing Work</h1>

<%= render 'form' %>

<%= link_to 'Show', @work %> |
<%= link_to 'Back', works_path %>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        hookEdtfValidation();
        hookFullDateValidation();
        hookYearValidation();
        hookUrlValidator();
    });
</script>