<h1>Editing Work</h1>

<%= render 'form' %>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        hookEdtfValidation();
        hookFullDateValidation();
        hookYearValidation();
        hookUrlValidator();
    });
</script>