<h1>New Work</h1>
<%= link_to 'Back', works_path %>
<%= render 'form' %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
      hookEdtfValidation();
      hookFullDateValidation();
      hookYearValidation();
      hookUrlValidator();
  });
</script>