/*.accordion {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 2px solid hsl(0, 0%, 82%);*/
/*    border-radius: 7px;*/
/*}*/

/*.accordion h3 {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.accordion.focus {*/
/*    border-color: hsl(216, 94%, 73%);*/
/*}*/

/*.accordion.focus h3 {*/
/*    background-color: hsl(0, 0%, 97%);*/
/*}*/

/*.accordion > * + * {*/
/*    border-top: 1px solid hsl(0, 0%, 82%);*/
/*}*/

/*.accordion-trigger {*/
/*    background: none;*/
/*    color: hsl(0, 0%, 13%);*/
/*    display: block;*/
/*    font-size: 1rem;*/
/*    font-weight: normal;*/
/*    margin: 0;*/
/*    padding: 1em 1.5em;*/
/*    position: relative;*/
/*    text-align: left;*/
/*    width: 100%;*/
/*    outline: none;*/
/*}*/

/*.accordion-trigger:focus,*/
/*.accordion-trigger:hover {*/
/*    background: hsl(216, 94%, 94%);*/
/*}*/

/*.accordion *:first-child .accordion-trigger {*/
/*    border-radius: 5px 5px 0 0;*/
/*}*/

/*button {*/
/*    border-style: none;*/
/*}*/

/*.accordion button::-moz-focus-inner {*/
/*    border: 0;*/
/*}*/

/*.accordion-title {*/
/*    display: block;*/
/*    pointer-events: none;*/
/*    border: transparent 2px solid;*/
/*    border-radius: 5px;*/
/*    padding: .25em;*/
/*    outline: 0;*/
/*    color: #900;*/
/*    font-size: 1.4em;*/
/*    font-weight: 700;*/
/*}*/

/*.accordion-trigger:focus .accordion-title {*/
/*    border-color: hsl(216, 94%, 73%);*/
/*}*/

/*.accordion-icon {*/
/*    border: solid hsl(0, 0%, 62%);*/
/*    border-width: 0 2px 2px 0;*/
/*    height: 0.5rem;*/
/*    pointer-events: none;*/
/*    position: absolute;*/
/*    right: 2em;*/
/*    top: 50%;*/
/*    transform: translateY(-60%) rotate(45deg);*/
/*    width: 0.5rem;*/
/*}*/

/*.accordion-trigger:focus .accordion-icon,*/
/*.accordion-trigger:hover .accordion-icon {*/
/*    border-color: hsl(216, 94%, 73%);*/
/*}*/

/*.accordion-trigger[aria-expanded="true"] .accordion-icon {*/
/*    transform: translateY(-50%) rotate(-135deg);*/
/*}*/

/*.accordion-panel {*/
/*    margin: 0;*/
/*    padding: 0 1.5em;*/
/*}*/

/*!* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ *!*/
/*.accordion-panel[hidden] {*/
/*    display: none;*/
/*}*/

/*fieldset {*/
/*    border: 0;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*input {*/
/*    border: 1px solid hsl(0, 0%, 62%);*/
/*    border-radius: 0.3em;*/
/*    display: block;*/
/*    font-size: inherit;*/
/*    padding: 0.3em 0.5em;*/
/*}*/

/*.accordion {*/
/*    cursor: pointer;*/
/*    padding: 18px;*/
/*    width: 100%;*/
/*    border: none;*/
/*    text-align: left;*/
/*    outline: none;*/
/*    font-size: 15px;*/
/*    transition: 0.4s;*/
/*}*/

/*.active, .accordion:hover {*/
/*    background-color: white;*/
/*}*/

.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
    display: none;
}
.m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
    display: flex;
}

