/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require sweetalert2
 *= require_tree .
 *= require_self
 */
body {
    font-family: sans-serif;
}

h4 {
    margin: 0;
    padding: 0;
    background: rgba(9, 155, 231, 0.4);
}

h5 {
    margin: 0;
    padding: 0;
    background: rgba(9, 155, 231, 0.4);
    font-size: 1em;
}
h6 {
    background: none;
    color: #D07A00;
    font-size: 1em;
    margin: 0;
}

div.branding {
    font-size: 3em;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: #007ffa;
}
.left {
    float: left;
    padding: 0 5px;
    margin-right: 5px;
}
.env_div {
    text-align: center;
}
.env_p {
    background: red;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    width: 200px;
    margin: auto;
}
.i {
    font-style: italic;
}

.nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2a415a;
}
.nav_li {
    float: left;
    height: 20px;
    padding: 5px 20px;
}
.nav_li > a, .nav_li > a:visited, .nav_li > a:hover {
    color: rgb(157, 193, 193);
    background-color: #2a415a;
}
.nav_li > a:hover {
    color: #7f3000;
}

a, a:visited {
    font-weight: bold;
    color: #D07A00;
    text-decoration: none;
}

a:hover {
    background-color: #fff;
    color: #7f3000;
}
a.blank_title {
    color: red;
}

.search {
    float: right;
}

.orange {
    color: #D07A00;
}

.clear {
    clear: both;
}

ul.decisions {
    list-style-type: none;
    margin: 0;
    color: rgba(0, 0, 0, 0.57);
}

li.first {
    font-style: italic;
    color: #000000;
}

.m_top_10 {
margin-top: 10px
}

.m_top_25 {
margin-top: 25px;
}
.ml_25 {
    margin-left: 25px;
}

.w_400 {
    width: 400px;
}
.w_250 {
    width: 200px;
}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cl {
    list-style-position:inside;
    border: 1px solid green;
}
th, td {
    vertical-align: top;
    text-align: left;
}

.orange {
    font-weight: bold;
    color: #D07A00;
}

.submit_row > th, .submit_row > td {
    padding-top: 20px;
}
.badEdtf, .badYear, .badFullDate, .badUrl, .badHms {
    color: red;
    font-weight: bold;
}
.textarea_wrap {
    overflow: hidden;
    padding: 0 2px 0 0;
}
.tArea {
    width: 100%;
    height: 120px;
    padding: 0;
    min-width: 300px;
}
.desc_td {
    max-width: 600px;
}