// Place all the styles related to the AvalonItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h4.avalon_item {
  background: none;
  margin-top: 15px;
  font-size: 1.3em;
}