#avalon_item_buttons_div {
}
.title_div {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}
.title_div > h3 {
    display: flex;
    margin-bottom: 0.5rem;
}
.title_div > h3 > * {
    margin: auto;
}
ul.conversation {
    color: black;
    text-align: left;
    font-size: 1rem;
    font-weight: normal;
}
.cm_comment {
    background: white;
}
.cl_comment {
    background: #5dc2f1;
}


.lower_tooltip {
    position: relative;
    display: inline-block;
}
#mark_needs_reviewed {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-position: under;
    min-width: 200px;
}
.lower_tooltip .lower_tooltiptext {
    width: 500px;
    max-width: 500px;
    border-radius: 6px;
    border: 1px solid black;
    position: absolute;
    z-index: 1;
    transition: opacity 0.3s;
    background: white;
    top: 40px;
    right: 0;
    padding: 8px;
    opacity: 0;
    visibility: hidden;
}
.lower_tooltip:hover .lower_tooltiptext {
    visibility: visible;
    opacity: 1;
}
#access_div {
    width: 50%;
}
#access_div > * {
    float: left;
    overflow: auto;
}
#access_div div:nth-child(1) {
    width: 400px;
    margin-right: 1.5rem;
}
#access_div div:nth-child(2) {
    width: 400px;
}
#access_div div:nth-child(3) {
    float: left;
    width: 25%;
}
#note_div {
    overflow: auto;
    clear: both;
    padding-top: 0.75rem;
}
.note > p {
    margin: 0;
}
span.avalon_item_title {
    min-width: 250px;
}
.contributor {
    display: flex;
}
.contributor > a {
    margin-right: 0.5rem;
}
.notes {
    width: 440px;
}

div.access_div {
    float: left;
    width: 20%;
}
div.access_div > select {
    max-width: 85%;
}
div.calced_access_div {
    float: left;
    width: 20%;
}
div#history_div {
    float: left;
    width: 15%;
}
div.legal {
    float: left;
    width: 45%;
    overflow: auto;
}
div.legal > h2 {
    padding: .5rem;
}
div.contracts {
    /*max-width: 890px;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}
div.contract {
    width: 400px;
    padding-right: 1rem;
    float: left;
    height: 275px;
}
#contract_notes, .contract_notes {
    overflow: auto;
    height: 4rem;
    margin-bottom: .5rem;
}

