// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user_table, #user_table>tbody>tr>th, #user_table > tbody >tr > td {
  border: 1px solid black;
}
#user_table>tbody>tr>th {
  background: #9bd8f5;
}
#user_table > tbody >tr > td.green {
  background: #25ff5b;
}

#user_table > tbody >tr > td.red {
  background: #f5000a;
}

.cl {
  background: #25ff5b;
}