<div data-recording-id="<%= @recording.id %>" class="performance_div new_performance_div">
  <h5 class="accordion-title" data-performance-id="13"><i>Create New Performance</i></h5>
  <%= render partial: 'performances/ajax_form' %>
</div>