<h4>The feed read for the barcode <%= params[:mdpi_barcode] %></h4>
<pre>
  <%= JSON.pretty_generate JSON.parse @atom_feed_read.to_json unless @atom_feed_read.nil? %>
</pre>

<h4>The existing record</h4>
<pre>
  <%= JSON.pretty_generate JSON.parse @existing.to_json unless @existing.nil?%>
</pre>