<% if @avalon_items.size == 0 %>
  <p class=""> No results found for: <i class="red_700"><%= params[:search] %></i></p>
<% else %>
  <p class=""> Search results for: <i class="bg-green"><%= params[:search] %></i></p>
<% end %>
<ul>
  <% @avalon_items.each do |ai| %>
    <li>
      <%= link_to ai.title, avalon_item_path(ai) %>
    </li>
  <% end %>
</ul>