<div class="rvt-container rvt-p-all-xss rvt-p-top-md rvt-p-bottom-sm">
  <div class="rvt-grid">
    <div class="rvt-grid__item">
      <div class="rvt-input-group">
        <input class="rvt-input-group__input" type="text" id="search">
        <div class="rvt-input-group__append">
          <button class="rvt-button">MDPI Barcode Search</button>
        </div>
      </div>
    </div>
  </div>
</div>